*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 6500px;
   
}


.header{
    width: 100%;    height: 40;
    background-color:rgba(49, 24, 24, 0.282);
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
}
.img1{
    width: 100;
    height: 40;
    margin-left: 150;
    float: left;
}
.list{
    list-style: none;
    float: right;
    margin-right: 150px;
    
}
.list li{
    display: inline-block;
margin-right: 30px;
font-size: 23px;
font-weight:400px;
margin-top: 2px;
}.list li a {
text-decoration: none;
color: rgb(55, 36, 6);
font-family:“Comic Sans MS”, cursive, sans-serif;


}
.div1{
    width: 100%;
height: 100vh;
    background-image:url(../images/top-view-plate-healthy-food\ \(1\).jpg);
    background-size:100% 739.2px ;
    background-repeat: no-repeat;
    position: relative;
    
}
.parent{height: 500;

}
.Contacts{
    
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-10% ,-50%);
}
.x{
    color: rgb(78, 53, 15);
    font-size: 50px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
}
.x1{
    color: rgb(54, 37, 10);
    letter-spacing: 1px;
    font-size: 20px;
    margin: 15px 0px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
}
.btn{
    width: 135px;
    height: 55px;
    border-radius: 6px;
    border: 0;
    font-size: 20px;
    margin-left: 130px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
    color: rgb(54, 37, 10);

}
.btn2{
    background-color: rgba(8, 61, 8, 0.464);
    margin-left: 300px;
    margin-top: -55px;
}
.btn:hover{
    opacity: .7;
}
.btn1{
    background-color: rgb(204, 199, 190);
    margin-top: -20px;
}
h1{
    text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 40px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
    color: rgb(78, 53, 15);
    
}.line{
    width: 100px;
    height: 5px;
    background-color: rgba(8, 17, 8, 0.464);
    margin: auto;
    margin-top: -23;}
.parent div {
    width: 350px;
    height: 250px;
    float: left;
margin: 70px 0px 0px 110px ;
border:2px solid rgb(78, 53, 15);
position: relative;
}
.parent div::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
    background-color: rgba(49, 24, 24, 0.282);
}
.parent div:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    font-size: 30px;
    color:  rgb(29, 19, 5);;
}
.parent div:hover .welcome3{
    color: rgb(21, 63, 21);
}.parent div:hover .welcome1{
    color: rgb(21, 63, 21);
}.parent div:hover .welcome{
    color: rgb(21, 63, 21);
}
  .icon{
        font-size: 45;
        margin: 30px 0px 0px 10px ;
        color: rgb(76, 76, 175);
    }
    .icon1{
        font-size: 45;
        margin: 30px 0px 0px 10px ;
        color: rgba(200, 16, 96, 0.79);
    }
    .icon2{
        font-size: 45;
        margin: 30px 0px 0px 10px ;
        color: rgb(76, 76, 175);
    }
    .welcome3{
        text-align: center;
        font-size: 25px ;
        font-family:“Comic Sans MS”, cursive, sans-serif;
        color: rgb(78, 53, 15);
        margin-top: 8px;
    }
    
    .welcome{
        font-size: 20px;
        color: rgb(78, 53, 15);
        margin-top: 10px;
text-align: center;
font-family:“Comic Sans MS”, cursive, sans-serif;
    }
    .welcome1{font-size: 18px;
        color: rgb(78, 53, 15);
        margin-top: 4px;
text-align: center;
font-family:“Comic Sans MS”, cursive, sans-serif;
color: rgba(29, 21, 12, 0.79);
    }
    .welcome1:hover{
        color: rgba(223, 81, 15, 0.79);
    }
   /* //////////////////////////////////////////////////////////////////////////////////////////////// */
    h2{
        text-align: center;
        color: black;
        
        font-size: 45px;
        font-family:“Comic Sans MS”, cursive, sans-serif;
        color: rgb(78, 53, 15);
    }.line1{
        width: 100px;
        height: 5px;
        background-color: rgba(8, 17, 8, 0.464);
        margin: auto;
        margin-top: 13;}
        .parent1 div{
            width: 350px;
            height: 350px;
            float: left;
        margin: 70px 0px 0px 110px ;
        position: relative;
        
        }
         .img2{
            width: 350px;
            height: 350px;
         }
         .xx{
            height: 900px;
         }
         .parent1{
            background-color: rgba(255, 235, 235, 0.282);
         }
         /*////////////////////////////////////////////////////////////////////*/
         .parent2 div {
            width: 370px;
            height: 160px;
            float: left;
        margin: 70px 0px 0px 110px ;
        border: 2px solid rgb(78, 53, 15);
        position: relative;
        }
        .line2{
            width: 100px;
        height: 5px;
        background-color: rgba(8, 17, 8, 0.464);
        margin: auto;
        margin-top: -23px;
        }
        .icon3{
            font-size: 43px;
        margin-top: 20px;
        margin-right: 260px;
        color: rgba(8, 17, 8, 0.464);
        }.icon31{
            font-size: 43px;
        margin-top: 20px;
        margin-right: 260px;
        color:rgba(223, 81, 15, 0.79)}
        .icon32{
            font-size: 40px;
        margin-top: 20px;
        margin-right: 290px;
        color:rgba(8, 17, 8, 0.464)}
        .icon33{
            font-size: 40px;
        margin-top: 20px;
        margin-right: 270px;
        color:rgba(100, 76, 13, 0.968)}
        .icon34{
            font-size: 40px;
        margin-top: 20px;
        margin-right: 290px;
        color:rgba(37, 80, 14, 0.968)}
        .icon35{
            font-size: 40px;
        margin-top: 20px;
        margin-right: 290px;
        color: rgb(78, 53, 15)}
        
        
        .ff{
            display:inline-block;
            font-size: 28px;
            margin-top:-38px;
            margin-left: 25px;
            color:7c6a0a;
            
        font-family:“Comic Sans MS”, cursive, sans-serif;

        }
    .health{
        margin-right: 20px;
        margin-top: 5px;
        color: rgb(54, 37, 10);
        letter-spacing: 1px;
        font-size: 20px;   
        font-family:“Comic Sans MS”, cursive, sans-serif;
    }
    .parent2 div::after{
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 1s;
        background-color: rgba(48, 45, 5, 0.282);}
        .parent2 div:hover::after{
            width: 100%;
            height: 100%;
            opacity: .4;}
            /* //////////////////////////////////////////////////////////*/
            .xxx{
                height: 650;
            }
           h4{
            font-size: 35px;
            font-family:“Comic Sans MS”, cursive, sans-serif;
            margin-left: 100px;
            color: rgba(223, 81, 15, 0.79);
           }
           .line4{
            width: 100px;
            height: 5px;
            background-color: rgba(8, 17, 8, 0.464);
            margin-left: 200px;
            margin-top: 13;}
            .us{
                font-size: 23px;
            font-family:“Comic Sans MS”, cursive, sans-serif;
            margin-left: 100px;
            color: rgb(78, 53, 15);
            }
            .list1{ 
                float: left;
     
            }
            .list1 li{
               
            font-size: 18px;
            font-weight:350px;
            margin-top: 15px;
            list-style-type: square ;

        }
            .list1 li {
            text-decoration: none;
            color: rgb(38, 63, 38);
            font-family:“Comic Sans MS”, cursive, sans-serif;
            list-style-type: square;
            margin-left: 130px;}
           .img3{
            height: 450px;
            width: 470px;
            float: right;
             margin-right: 120px;
             margin-top: -170px;
           } 
          .list2{
          list-style: none;
          display: list-item;
    text-align: center;
    margin-left:650px ;
            
          }
          .list2 li{
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #2e1010;
            margin: 10px 5px;
        
            border-radius: 50%;}
            .list2 li:hover{
            background-color:rgba(223, 81, 15, 0.79) ;
         }
         .why{
            height: 400px;
            
         }

         .photo{
            position: relative;
          background-image: url(../images/5914345.jpg);
           background-attachment: fixed;
           background-size: cover;
          height: 350px;
         }
         .overley{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
         }
         .contaner{
            width: 80%;
    margin: auto;
         }
         .cons{
            overflow: hidden;
            padding-top: 130px;
         }
         .con1{
            width: 25%;
            float: left;
            text-align: center;
         }
         .iconss{
            color: #588503b8;
            margin-bottom: 15px;
            font-size: 50px;
         }
         .con2{
            font-weight: bold;
    font-size: 30px;
    color: #fff;
    font-family:“Comic Sans MS”, cursive, sans-serif;
}
        .con3{
            color:rgba(255, 254, 254, 0.833) ;
            font-weight: bold;
           font-size: 20px;
           font-family:“Comic Sans MS”, cursive, sans-serif;
        } 
        /*/////////////////////////////////////////////////////////////////////////////////*/
        
        .table{
            text-align: center;
            color: rgb(54, 37, 10);
            margin-top: 80px;
            font-family: “Comic Sans MS”, cursive, sans-serif;
            
        }
        
        .div11{
            width: 300;
        height: 470;
        
        float: left;
        margin-left: 200px;
        margin-top: 50px;
        border: 2px solid rgb(78, 53, 15);
        background-color: rgba(49, 24, 24, 0.282);
        
        }
        .div11{
            width: 300;
        height: 450;
        
        float: left;
        margin: 50px 100px 0px 150px ;
        border: 2px solid rgb(78, 53, 15);
        background-color: rgb(238, 232, 230);;
        }
        .div22{
            width: 300;
        height: 450;
        
        float: left;
        margin: 50px 80px 0px 50px ;
        border: 2px solid rgb(78, 53, 15);
        background-color:  rgb(238, 232, 230);;
      
        }
        .div33{
            width: 300;
        height: 450;
        
        float: left;
        margin-top: 50px;
        margin-left: 50px;
        border: 2px solid rgb(78, 53, 15);
        background-color:  rgb(238, 232, 230);;
        }
        .X5{
            display: block;
            width: 130;
            height: 130;
            border: 2PX solid;
            border-radius: 50%;
            border-color: rgb(78, 53, 15) ;
            margin: auto;
            font-weight: bold;
            font-size: 20PX;
            text-align: center;
            padding-top: 20px;
            font-family:“Comic Sans MS”, cursive, sans-serif;
            margin-top: 7px;
        }
        .plan{
            text-align: center;
            font-size: 25PX;
            margin-top: 18px;
            font-family:“Comic Sans MS”, cursive, sans-serif;
color: #070901;
}

        
        B{
            font-size: 35PX;
            font-weight: bold;
          color: #1b250ab8;  
        }
        .line5{
            width: 90px;
            height: 4px;
            background-color:rgb(38, 63, 38);
            margin: auto;
            margin-top: 10px;
        }
        button{
            border:2px solid;
            height: 50px;
            width: 200px;
            border-color:rgb(78, 53, 15);
            background-color:rgb(245, 237, 234); ;
            color:rgba(223, 81, 15, 0.659) ;
            margin: auto;
            margin-top: 25px;
        text-align: center;
        display: block;
        font-size: 25px;
        }




.div11{
    position: relative;
}

        .div11::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background-color: #0b0c0c;
            transition: 1s;
            opacity: .5;}
.div11:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    font-size: 30px;
    color:  rgb(16, 30, 17);;
}
.div11:hover .plan{
    color: rgb(173, 96, 29);
}
.div22{
    position: relative;
}
.div22:hover .plan{
    color: rgb(173, 96, 29);
}
        .div22::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background-color: #0b0c0c;
            transition: 1s;
            opacity: .5;}
.div22:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    font-size: 30px;
    color:  rgb(16, 30, 17);;
}
.div33{
    position: relative;
}

        .div33::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background-color: #0b0c0c;
            transition: 1s;
            opacity: .5;}
.div33:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    font-size: 30px;
    color:  rgb(16, 30, 17);;
}
.div33:hover .plan{
    color: rgb(173, 96, 29);
}
.pparent1{
    height: 800px;
    background-color: #eeeeee;
}
/* //////////////////////////////////////////////////////////////////*/

.cont{
    width: 80%;
    margin: auto;
    
}
.pparent{
    height: 600px;
   
}
.team-cont{

}
.team-item{
    float: left;
    background-color:rgba(49, 24, 24, 0.282);
    width: 30%;
    padding: 14px 18px;
    text-align: center;
    position: relative;
}
.tt{
    margin: 0px 5%;
}
.team-img{
    
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img img{
    width: 100%;
}
.team-overley{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 6, 6, 0.3);
    visibility: hidden;
}
.team-overley a{
    display: block;
    width: 40px;
    height: 40px;
    background-attachment: fixed;
   color: rgb(196, 196, 196);
   background-color:rgb(76, 76, 175) ;
   font-size: 20px;
   margin-left: auto;
}
.team-overley a i{
    line-height: 40px;
}
.team-info-title{
    text-transform: uppercase;
    padding: 12px 0 ;
    font-family: “Comic Sans MS”, cursive, sans-serif;
    color: rgb(78, 53, 15);
    font-weight: bold;
    font-size: 30px;
}
.team-info-sp1{
    text-transform: capitalize;
    font-family: “Comic Sans MS”, cursive, sans-serif;
    color: rgb(89, 81, 68);
    font-weight: bold;
    font-size: 25px;
}
.team-item:hover .team-info-title{
    color: rgba(223, 81, 15, 0.659);
}
.team-item:hover .team-overley{
    visibility: visible;
}


        .team-item::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background-color: #0b0c0c;
            transition: 3s;
            opacity: .5;}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    font-size: 30px;
    color:  rgb(16, 30, 17);;}
    .MO{
        text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 40px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
    color: rgba(223, 81, 15, 0.659);
    }
    .line6{
        width: 100px;
        height: 5px;
        background-color: rgba(8, 17, 8, 0.464);
        margin: auto;
        margin-top: 10px;}
       
        
        .featured-overley{position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(22, 6, 6, 0.3);

        }
        /*//////////////////////////*/


        .PPOTO {
            position: relative;
            background-image: url(../images/5914345.jpg);
            background-attachment: fixed;
            background-size: cover;
            height: 350px;
        } .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
        }
        .PPOTO-content{
            overflow: hidden;
            width: 90%;
            margin: auto;
        }
        .PPOTO-item {
            float: left;
            width: 50%;
            font-size: 25px;
            font-weight: bold;
            font-family:“Comic Sans MS”, cursive, sans-serif;
            color: #fffffeb8;;
            padding-right: 20px;
            padding-top: 55px;
            margin-bottom: 110px;
        }
        .PPOTO-toplayer{
           padding:90px 20px 10px 150px;
           position:relative;
           line-height: 1.4;
           margin-bottom: 20px;
        }
        .PPOTO-toplayer img{
           position: absolute;
           top: 82px;
           left: 65px;
           border-radius: 50%;
        }
        .PPOTO-desc{
           text-transform: capitalize;
           line-height: 1.5;
           margin-left: 76px;
           font-size: 14px;
        }
        .PPOTO-toplayer span{
           color: #8c5d0b;
        } 
        /**********************************/
        .new-item{
            float: left;
            background-color:#ffffff;
            width: 30%;
            padding: 14px 10px;
            text-align: center;
            position: relative;
        }.new-img{
    
            width: 90%;
            top:0;
            position: relative;
        }
        .new-img img{
            width: 100%;
        }
        .new-info-title{
            text-transform: uppercase;
            padding: 10px 3px ;
            font-family: “Comic Sans MS”, cursive, sans-serif;
            color:rgba(37, 80, 14, 0.968);
            font-weight: bold;
            font-size: 20px;
            padding-right: 130px;
        }
        .new-info-sp1{
            text-transform: capitalize;
            font-family: “Comic Sans MS”, cursive, sans-serif;
            color: rgb(89, 81, 68);
            font-weight: bold;
            font-size: 17px;
            padding-top: 10px; 
            padding-right: 190px;
            
        }
        .new-info i{
            padding: 15px;
            color:navy ;
        }
        .new{
            padding-top: 15px;
            font-size: 20px;
            font-family: “Comic Sans MS”, cursive, sans-serif;
            color: rgba(223, 81, 15, 0.659);
            padding-right: 190px;
        }
        .new-item::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            background-color: #0b0c0c;
            transition: 1s;
            opacity: .5;}
.new-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
    font-size: 30px;
    color:  rgb(16, 30, 17);;
}
.nn{
    margin: 0px 5%;
}
.copy{
    width: 100%;
    height: 350px;
    background-color:rgba(11, 6, 6, 0.282);
    text-align: center;
   
}
.bb{
font-size:15px ;
color: #2e1010;   

}
.po{
    margin-top: 25px;
 
}
.copy a{
  
   color:rgb(76, 76, 175) ;
   
   font-size: 45px;
   border-radius: 50%;
   margin-left: 10px;
}
.copy a:hover{
    color:navy;
}
/*///////////////////////////////////////////////////////*/

/*************************************/
.container {
    width: 80%;
    margin: auto;
}
.p-content {
    overflow: hidden;
}
.p-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding:20px;
}
.p-item img{
    width: 100%;
}
.p-item.mg {
    margin: 0 5%;
}
.p-item .P-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(29, 2, 2, 0.8);;
    opacity: 0;
    visibility: hidden;
    transition:opacity 1s;
}
.p-item:hover .P-content{
    opacity:1;
    visibility: visible;
}
 .P-content .P-info{
    position: absolute;
    left:50%;
    top:50%;
    width: 80%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.P-content .category {
    color: #638d23;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
    font-size: 25px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
    font-weight: bold;
}
.P-content-title{
    font-size: 20px;
    color: #ffffffc6;
    font-size: 25px;
    font-family:“Comic Sans MS”, cursive, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
}
.P-content a  {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color:navy;
    color: #e9e6e6;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .6s;
    font-size: 25px;
   
}
.p-item:hover .P-content-title,
.p-item:hover .P-content a,
.p-item:hover .P-content .category{
   top:0;
   opacity: 1;
   visibility: visible;
}
.P-content a i{
    line-height: 40px;
}
















